
<main class="details">
  <app-back-button class="button-back"></app-back-button>
  <section class="article-banner">
    <img
      class="article-banner-img"
      [src]="article.urlToImage"
      alt="Image background"
    />
  </section>

  <header class="article-header">
    <div class="article-header-infos">
      <h1 class="article-header-infos-title">{{article.title}}</h1>
      <h2 class="article-header-infos-author">{{article.author}}</h2>
      <h2 class="article-header-infos-published">{{article.publishedAt | date}}</h2>
    </div>
    <div class="article-header-source">
        <h2 class="article-header-source-name">{{article.source.name}}</h2>
        <a
          class="article-header-source-url"
          [href]="article.url"
          target="_blank"
        >
        Open article on {{article.source.name}}
      </a>
    </div>
  </header>

  <section class="article-content">
    <p>{{article.content}}</p>
  </section>

  <ng-container *ngIf="articlesListFromSource.length > 0">
    <section class="article-more-source">
      <h2>More articles from {{article.source.name}}</h2>
      <app-article-list [articleList]="articlesListFromSource" [class]="'news'"></app-article-list>
    </section>
  </ng-container>
</main>
