<div class="filters">
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select
      panelClass="category-select"
      [(ngModel)]="category"
      (selectionChange)="searchArticles(category)"
    >
      <mat-option label="All" value=""></mat-option>
      <mat-option value="business">Business</mat-option>
      <mat-option value="entertainment">Entertainment</mat-option>
      <mat-option value="general">General</mat-option>
      <mat-option value="health">Health</mat-option>
      <mat-option value="science">Science</mat-option>
      <mat-option value="sports">Sports</mat-option>
      <mat-option value="technology">Technology</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<section class="news">
  <div class="article" *ngFor="let article of articleList">
    <div class="article-img-container">
      <img
        [src]="article.urlToImage"
        alt="#"
        class="article-img"
      >
    </div>
    <div class="article-infos">
      <p class="article-title">{{article.title}}</p>
      <p class="article-author">{{article.author  !== '' ? article.author : 'Unknown author'}}</p>
      <p class="article-published">{{article.publishedAt | date}}</p>
      <p class="article-source">{{article.source.name}}</p>
    </div>
    <!-- <div class="new-description">
      <p>Description ...</p>
    </div> -->
  </div>
</section>
