<div class="filters">
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select
      panelClass="category-select"
      [(ngModel)]="category"
      (selectionChange)="searchArticles(category)"
    >
      <mat-option label="All" value=""></mat-option>
      <mat-option value="business">Business</mat-option>
      <mat-option value="entertainment">Entertainment</mat-option>
      <mat-option value="general">General</mat-option>
      <mat-option value="health">Health</mat-option>
      <mat-option value="science">Science</mat-option>
      <mat-option value="sports">Sports</mat-option>
      <mat-option value="technology">Technology</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<section class="news">
  <app-article-list [articleList]="articleList" [class]="'news'"></app-article-list>
</section>
